.card {
    display: grid;
    background: white;
    border: 1px solid #dedede;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
}

.submit {
    background-color: lightblue;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 2px;
}

.switch-card {
    background:none;
    border:none;
    cursor: pointer;
}